.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 PT Inovação
  .track.min20
    .textwrapper
      %h2 Kentra
  .track.min20
    .textwrapper
      %h2 Shortcut
  .track.min20
    .textwrapper
      %h2 Critical Software
  .track.min25
    .textwrapper
      %h2 Coffee & Snacks
  .track.min30
    .textwrapper
      %h2 Soft Skill: Mind4Time
  .track.min20
    .textwrapper
      %h2 Indra
  .track.min20
    .textwrapper
      %h2 Grupo@work
  .track.min20
    .textwrapper
      %h2 Outsystems
  .track.min60
    .textwrapper
      %h2 Entrevistas