.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min15
    .textwrapper
      %h2 Wit
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Onda Tech Inst
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 A anunciar
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Tlantic SI
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Coffee Break
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 A anunciar
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Much Beta
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Critical Software
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 A anunciar
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Shiftforward
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Coffe Break
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 A anunciar
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Altran  
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Palestra Temática: Eduardo Espinheira <br> O salário de um Engº Informático
      %p.black 30 min
  .track.min60(style="height:172px;")
    .textwrapper
      %h2 Networking