.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 Deloitte Portugal
  .track.min20
    .textwrapper
      %h2 Accenture Portugal
  .track.min20
    .textwrapper
      %h2 McKinsey Portugal
  .track.min20
    .textwrapper
      %h2 Randstad Tech
  .track.min25
    .textwrapper
      %h2 Coffee & Snacks
      %p 25min
  .track.min30
    .textwrapper
      %h2 Soft Skill: Filipe Pereira (getSkilled)
  .track.min20
    .textwrapper
      %h2 Strongstep
  .track.min20
    .textwrapper
      %h2 Lodestone
  .track.min20
    .textwrapper
      %h2 Fraunhofer
  .track.min60
    .textwrapper
      %h2 Entrevistas