.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min15
    .textwrapper
      %h2 BLIP
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 A anunciar
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Grupo @Work 
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Shortcut
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Coffee Break
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 A anunciar
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Optimizer
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Palestra Temática: José Bago <br> Preparação de entrevistas
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 YDreams/3Decide
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Coffee Break
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 A anunciar
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Auditmark
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 DevScope
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 A anunciar  
      %p.black 15 min
  .track.min60(style="height:172px;")
    .textwrapper
      %h2 Networking