%a(id="day4")
.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 PT Inovação
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Shortcut
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 iTGrow
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 DevScope
      %p.black 20 min
  .track.min25
    .textwrapper
      %h2 Coffee Break
      %p.black 25 min
  .track.min30
    .textwrapper
      %h2 Soft Skill: Gonçalo Mata
      %p.black 30 min
  .track.min20
    .textwrapper
      %h2 Kentra
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Critical Manufacturing
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Grupo@work
      %p.black 20 min
  .track.min60
    .textwrapper
      %h2 Entrevistas
      %p.black 120 min