%a(id="day2")
.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 Deloitte Portugal
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Accenture Portugal
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Randstad Tech
      %p.black 20 min
  .track.min25
    .textwrapper
      %h2 Coffee Break
      %p.black 25 min
  .track.min30
    .textwrapper
      %h2 Palestra Temática: Tomé Duarte <br>Empreendedorismo
      %p.black 30 min
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Mindsource
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Fraunhofer
      %p.black 20 min
  .track.min60
    .textwrapper
      %h2 Entrevistas
      %p.black 120 min