.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min15
    .textwrapper
      %h2 WIT Software
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 AppGeneration
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Tlantic
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Shiftforward
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Coffee Break / Networking / Recrutamento
      %p.black 45 min
  .track.min15
    .textwrapper
      %h2 Memória Visual
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Microsoft Dinamarca
      %p.black 30 min
  .track.min30
    .textwrapper
      %h2 Coffee Break / Networking / Recrutamento
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 Bitmaker Software
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Palestra Temática: Eduardo Espinheira <br> O salário de um Engº Informático
      %p.black 30 min
  .track.min60(style="height:172px;")
    .textwrapper
      %h2 Networking / Recrutamento