.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 Retail Consult
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Tlantic SI / Sonae MC
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Optimizer
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Efacec
      %p.black 20 min
  .track.min25
    .textwrapper
      %h2 Coffee Break
      %p.black 25 min
  .track.min30
    .textwrapper
      %h2 Palestra Temática: Joaquim Moura <br> As skills mais importantes no mercado de trabalho actual
      %p.black 30 min
  .track.min20
    .textwrapper
      %h2 Novabase
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Abyssal
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 3Decide
      %p.black 20 min
  .track.min20
    .textwrapper
      %h2 Glintt
      %p.black 20 min
  .track.min60(style="height:172px;")
    .textwrapper
      %h2 Entrevistas
      %p.black 120 min