.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 Deloitte Portugal
  .track.min20
    .textwrapper
      %h2 Accenture Portugal
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min20
    .textwrapper
      %h2 Randstad Tech
  .track.min25
    .textwrapper
      %h2 Coffee & Snacks
      %p 25min
  .track.min30
    .textwrapper
      %h2 Soft Skill: Tomé Duarte (Empreendedorismo)
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min20
    .textwrapper
      %h2 Mindsource
  .track.min20
    .textwrapper
      %h2 Fraunhofer
  .track.min60
    .textwrapper
      %h2 Entrevistas