.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 Blip
  .track.min20
    .textwrapper
      %h2 Rocket Internet
  .track.min20
    .textwrapper
      %h2 Much Beta
  .track.min20
    .textwrapper
      %h2 Wit
  .track.min25
    .textwrapper
      %h2 Coffee & Snacks
      %p 25min
  .track.min30
    .textwrapper
      %h2 Soft Skill: José Bago
  .track.min20
    .textwrapper
      %h2 AdClick
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min60
    .textwrapper
      %h2 Entrevistas