.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 SAP Portugal
  .track.min20
    .textwrapper
      %h2 Wipro
  .track.min20
    .textwrapper
      %h2 IBM Portugal
  .track.min20
    .textwrapper
      %h2 Oracle Portugal
  .track.min25
    .textwrapper
      %h2 Coffee & Snacks
  .track.min30
    .textwrapper
      %h2 Soft Skill: Joaquim Moura
  .track.min20
    .textwrapper
      %h2 YDreams
  .track.min20
    .textwrapper
      %h2 3Decide
  .track.min20
    .textwrapper
      %h2 Primavera
  .track.min60
    .textwrapper
      %h2 Entrevistas