.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 Retail Consult
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min20
    .textwrapper
      %h2 Novabase Consulting
  .track.min20
    .textwrapper
      %h2 Optimizer
  .track.min25
    .textwrapper
      %h2 Coffee & Snacks
  .track.min30
    .textwrapper
      %h2 Soft Skill: Joaquim Moura
  .track.min20
    .textwrapper
      %h2 Abyssal
  .track.min20
    .textwrapper
      %h2 3Decide
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min60
    .textwrapper
      %h2 Entrevistas