.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min20
    .textwrapper
      %h2 PT Inovação
  .track.min20
    .textwrapper
      %h2 Kentra
  .track.min20
    .textwrapper
      %h2 Shortcut
  .track.min20
    .textwrapper
      %h2 IT Grow
  .track.min25
    .textwrapper
      %h2 Coffee & Snacks
  .track.min30
    .textwrapper
      %h2 Soft Skill: A ANUNCIAR
  .track.min20
    .textwrapper
      %h2 Indra
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min20
    .textwrapper
      %h2 A ANUNCIAR
  .track.min60
    .textwrapper
      %h2 Entrevistas