.day
  .first.track.min15
    .textwrapper
      %h2 Abertura
  .track.min15
    .textwrapper
      %h2 ITGrow
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 GFI
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Adclick
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Critical Manufacturing
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Coffee Break / Networking / Recrutamento
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 Mind Source
      %p.black 15 min
  .track.adjust
    .textwrapper
  .track.min15
    .textwrapper
      %h2 Rocket Internet
      %p.black 15 min
  .track.min30
    .textwrapper
      %h2 Palestra Temática: Miguel Oliveira <br> Google: experiência de um estagiário e candidatura a posições full-time
      %p.black 30 min
  .track.min30
    .textwrapper
      %h2 Coffee Break / Networking / Recrutamento
      %p.black 30 min
  .track.min15
    .textwrapper
      %h2 Fraunhofer
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Cloudware
      %p.black 15 min
  .track.min15
    .textwrapper
      %h2 Deloitte
      %p.black 15 min
  .track.adjust
    .textwrapper
  .track.min60(style="height:172px;")
    .textwrapper
      %h2 Networking / Recrutamento