.schedule
  .day-header
    .day
      %a(id="day1")
      %span.day-title='2 Abril'
    .day
      %a(id="day2")
      %span.day-title='9 Abril'
    .day
      %a(id="day3")
      %span.day-title='23 Abril'
  %aside
    %span.time 14h45
    %span.time 15h00
    %span.time 15h15
    %span.time 15h30
    %span.time 15h45
    %span.time 16h00
    %span.time 16h30
    %span.time 16h45
    %span.time 17h00
    %span.time 17h15
    %span.time 17h30
    %span.time 17h45
    %span.time 18h00
    %span.time 18h15
    %span.time 18h30
    %span.time 18h45
    %span.time 19h00
    %span.time 19h15
  .tracks
    = partial "day1"
    = partial "day2"
    = partial "day3"