- @title = "Ciclo de Palestras"
- @bodyclass = "newproject"

.intro
  %h2
    Oportunidades para um Engenheiro Informático
  %p
    AlumniEI-FEUP apresenta o seu ciclo de palestras para 2012. Este ciclo (de quatro palestras, ao todo) é dedicado ao tema das oportunidades atuais para um engenheiro informático, seja a nível nacional ou a nível internacional, agora que os finalistas do curso de Engenharia Informática da FEUP se preparam para entrar no mercado de trabalho.
  %p 
    Queremos com esta palestra (livre de qualquer encargo para toda a audiência) ajudar a promover o empreendedorismo, a iniciativa, bem como a profissão de Engenheiro Informático em Portugal através da experiência das pessoas e empresas que vemos como exemplos no “saber fazer”.

.events
  %h2 Palestras
  .event
    / %div.date
    /   %span.day 12
    /   %br
    /   %span.month Abril
    %img{src: "images/pacman.png"}
    %h3 Sistemas de Informação e Multimédia
    %p 
      SAP Portugal, Wipro, IBM Portugal, Oracle,
      %br YDreams, 3Decide e Primavera
    %br
    %a{href: '#', class: "button"}Programação e Inscrições
    %br
  .event
    / %div.date
    /   %span.day 12
    /   %br
    /   %span.month Abril
    %img{src: "images/pacman-color.png"}
    %h3 Consultadoria, Investigação e Qualidade
    %p 
      Deloitte, Accenture, McKinsey, Randstad Tech, 
      %br Stongstep, Lodestone e Fraunhofer
    %br
    %a{href: '#', class: "button"}Programação e Inscrições
    %br
  .event
    / %div.date
    /   %span.day 12
    /   %br
    /   %span.month Abril
    %img{src: "images/pacman-color.png"}
    %h3 Carreira em Web e Mobile
    %p 
      Blip, Rocket Internet, Much Beta,
      %br Wit, AdClick, Groupon e NDrive
    %br
    %a{href: '#', class: "button"}Programação e Inscrições
    %br
  .event
    / %div.date
    /   %span.day 12
    /   %br
    /   %span.month Abril
    %img{src: "images/pacman.png"}
    %h3 Carreira em Software Houses
    %p 
      PT Inovação, Kendra, Shortcut, Outsystems
      %br Critical Software, Grupo @Work e Indra
    %br
    %a{href: '#', class: "button"}Programação e Inscrições
    %br
  .event
    / %div.date
    /   %span.day 12
    /   %br
    /   %span.month Abril
    %img{src: "images/pacman-color.png"}
    %h3 Carreira Internacional
    %p 
      Blizzard, EA Games, BCG, Skype, Amazon
      %br Microsoft, Opera, Linkedin e CERN
    %br
    %a{href: '#', class: "button"}Programação e Inscrições
    %br

%h2 Programa
= partial "schedule", locals: {days: [{date:"17 Abril", file: "day1"}, {date:"24 Abril", file: "day2"}]}
= partial "schedule", locals: {days: [{date:"22 Maio", file: "day3"}, {date:"29 Maio", file: "day4"}]}
//= partial "schedule", locals: {days: [{date:"5 Junho", file: "day5"}]}


%h2 Parceiros
%p 
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")
  =img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#009ebc", :text => "FEUP")

.moreinfo
  %h2
    Mais informações
  %p 
    Em todas as palestras haverá tempo para networking e espaço para entrevistas com as empresas. Traz o teu CV e não percas a primeira grande oportunidade da tua carreira!

    Inscrições Brevemente


