- @title = "Ciclo de Palestras"
- @bodyclass = "newproject"

.container
  .intro
    %h2
      Oportunidades para um Engenheiro Informático
    %p
      A AlumniEI-FEUP apresenta o seu ciclo de palestras para 2014. Este ciclo (de três palestras, ao todo) é dedicado ao tema das oportunidades atuais para um engenheiro informático, seja a nível nacional ou a nível internacional, agora que os finalistas do curso de Engenharia Informática da FEUP se preparam para entrar no mercado de trabalho.
    %p 
      Queremos com esta palestra (livre de qualquer encargo para toda a audiência) ajudar a promover o empreendedorismo, a iniciativa, bem como a profissão de Engenheiro Informático em Portugal através da experiência das pessoas e empresas que vemos como exemplos no “saber fazer”.

  %h2 Programa
  = partial "schedule"

  %h2 Parceiros
  %p
    <strong>Mestrado Integrado em Engenharia Informática e Computação</strong>.
    /=img_holder(:width => 207, :height => 100, :bgcolor => "#fff", :fgcolor => "#3498DB", :text => "MIEIC") 

.location
  .container
    %h2 Local
    %h3 2 de Abril
    %p sala <strong>I -105</strong>
    %h3 9 e 23 de Abril
    %p 
    %p sala <strong>C603</strong>, no sexto piso da <strong>Biblioteca da Faculdade de Engenharia da Universidade do Porto</strong>
    <br>
    %p No final das palestras haverá um momento de <em>networking</em> na sala <strong>I-105</strong>.
    / As entrevistas, proporcionadas pelas empresas convidadas, terão lugar nas seguintes salas: <strong>I219</strong>, <strong>I319</strong>, <strong>I125</strong>, <strong>I220</strong>, <strong>I011</strong> e <strong>J319</strong>. A atribuição das salas a cada empresa será feita apenas no final de cada palestra. 

  #map-canvas
  

.container
  .moreinfo
    %h2
      Mais informações
    %p 
      Em todas as palestras haverá tempo para networking e espaço para entrevistas com as empresas. Traz o teu CV e não percas a primeira grande oportunidade da tua carreira!


